/* Testimonios.css */

/* Define el estilo de las flechas en todas las pantallas */
.slick-prev:before,
.slick-next:before {
  color: #216651; /* Color de las flechas */
  font-size: 54px; /* Tamaño de la fuente */
  line-height: 1; /* Ajusta el espaciado entre líneas */
  margin-left: -15px;
}

/* Oculta las flechas en pantallas de dispositivos móviles */
@media screen and (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important; /* Oculta las flechas */
  }
 
}
